body {
    color: #212529;
    font-size: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 400;
    padding: 16px 15px;
    margin: 0;
}

h2 {
    margin-top: 50px;
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 500;
}

.example-box {
    position: relative;
    box-sizing: border-box;
    padding: 1rem;
    margin: 1rem -15px;
    border: solid #f8f9fa;
    border-width: .2rem 0;
}

@media (min-width: 576px) {
    .example-box {
        padding: 1.5rem;
        margin-right: 0;
        margin-left: 0;
        border-width: .2rem;
    }
}

.btn {
    display: inline-block;
    cursor: pointer;
    
    font-family: inherit;
    font-size: 1.25rem;
    padding: .5rem 1rem;
    line-height: 1.5;
    border-radius: .3rem;
    margin: .25rem 0px;

    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;

    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn:hover {
    color: #fff;
    background-color: #c82333;;
    border-color: #dc3545;
}

.btn:focus {
    box-shadow: 0 0 0 .2rem rgba(225, 83, 97, .5);
}

.popover {
    position: absolute;
    text-align: start;
    line-break: auto;
    font-size: .875rem;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    z-index: 1060;
    display: block;
    max-width: 276px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    padding: 0;
}

.popover-header {
    padding: .5rem .75rem;
    margin: 0;
    font-size: 1rem;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ebebeb;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
}

.popover-body {
    padding: .5rem .75rem;
    color: #212529;
}

.popover .arrow::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -8px;
    border-width: .5rem .5rem 0;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
}

.popover .arrow::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -8px;
    border-width: .5rem .5rem 0;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
}

.popover .arrow::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -9px;
    border-width: calc(.5rem + 1px) calc(.5rem + 1px) 0;
    border-style: solid;
    border-color: rgba(0, 0, 0, .2) transparent transparent transparent;
}